[submodule "apps/contracts/lib/forge-std"]
	path = apps/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "apps/contracts/lib/openzeppelin-contracts"]
	path = apps/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "apps/contracts/lib/foundry-chainlink-toolkit"]
	path = apps/contracts/lib/foundry-chainlink-toolkit
	url = https://github.com/smartcontractkit/foundry-chainlink-toolkit
[submodule "apps/contracts-v2/lib/forge-std"]
	path = apps/contracts-v2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "apps/contracts/lib/v3-periphery"]
	path = apps/contracts/lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
